# /var/lib/rancher/k3s/server/manifests/k3s-agent-upgrade-plan.yaml
apiVersion: upgrade.cattle.io/v1
kind: Plan
metadata:
  name: k3s-agent-plan
  namespace: system-upgrade
spec:
  concurrency: 1
  cordon: true
  drain:
    force: true
    ignoreDaemonSets: true
    deleteEmptydirData: true
    gracePeriod: 120
    timeout: "10m"
  prepare:
    image: rancher/k3s-upgrade
    args:
      - prepare
      - k3s-server-plan
  serviceAccountName: system-upgrade

  nodeSelector:
    matchExpressions:
      - key: node-role.kubernetes.io/control-plane
        operator: DoesNotExist

  upgrade:
    image: rancher/k3s-upgrade

  version: {{ k3s_upgrade_version }}

  window:
    days:
{% for day in k3s_upgrade_window_days %}
      - {{ day }}
{% endfor %}
    startTime: "{{ k3s_upgrade_window_start_time }}"
    endTime: "{{ k3s_upgrade_window_end_time }}"
    timeZone: "{{ k3s_upgrade_window_timezone }}"
