# /var/lib/rancher/k3s/server/manifests/traefik-config.yaml
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    api:
      dashboard: true

    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true

    ingressRoute:
      dashboard:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/enabled: "true"
          external-dns.alpha.kubernetes.io/hostname: traefik.home.hgpe.dev
          external-dns.alpha.kubernetes.io/target: 192.168.178.13,192.168.178.14
        entryPoints:
          - websecure
        matchRule: Host(`traefik.home.hgpe.dev`)
        tls: {}
